/* Minimal baseline styles */
html,
body,
#app {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.border-b {
    border-bottom: 1px solid #e5e7eb;
}

.p-4 {
    padding: 1rem;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none;
    /* IE and old Edge */
    scrollbar-width: none;
    /* Firefox */
}